footer .copyright {
    background-color:#0D0D0E;
    padding:15px 0;
}
.w-70 {
    width:70%;
}
.h-70 {
    height:70%;
}
.w-30 {
    width:30%;
}
.h-428 {
    height:428px;
}
.h-200 {
    height:200px!important;
}