.primary-font {
    font-family: 'Aliando Rocky', sans-serif;
}
h1, h2, h3, h4, h5, h6, p {
    color: $text-color;
}
.fsize-16 {
    font-size: 16px;
}
.fsize-14 {
    font-size: 14px;
}
.fsize-18 {
    font-size:18px;
}